<h1>H1 Pups App</h1>
<h2>H2 Pups App</h2>
<h3>H3 Pups App</h3>
<h4>H4 Pups App</h4>
<h5>H5 Pups App</h5>
<h6>H6 Pups App</h6>
<p>Welcome to the Pups App!</p>
<p>This is a placeholder for the main content of the application.</p>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<router-outlet />