<div style="max-width: 500px; text-align: center">
  <img
    src="assets/images/brand-logo.png"
    style="width: 150px; height: 150px"
    alt="Logo"
    srcset=""
  />
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <ui-input-text
      label="Username (Likely to be your email address)"
      name="username"
      formControlName="username"
    ></ui-input-text>
    <ui-input-text
      label="Password"
      name="password"
      formControlName="password"
      type="password"
    ></ui-input-text>
  </form>
</div>
